= simple_form_for @profile, :validate => true do |f|
  #tabs
    %ul
      %li
        %a{ :href => '#tabs-1'}
          = t(:general)
      %li
        %a{ :href => '#tabs-2'}
          = t(:connections)
    #tabs-1  
      = f.label t(:gravatar)
      #gravatar-form
        = image_tag current_user.gravatar_url(:size => 120)
    
      = f.input :display_name
      = f.input :about, :input_html => { :rows => '2' }
      = f.input :gender, :as => :radio, :collection => { t(:male) => 0, t(:female) => 1 }
      = f.input :location
      = f.input :website
      - if @profile.birthday
        = f.input :birthday, :as => :string, :input_html => { :value => l(@profile.birthday) }
      - else
        = f.input :birthday, :as => :string
    #tabs-2
      %p=t(:connections)
      
  = f.button :submit
