= simple_form_for @profile do |f|
  = f.input :display_name, :hint => 'Your Real Name'
  = f.input :about
  = f.input :gender
  = f.input :location
  = f.input :website
  = f.input :birthday, :as => :string, :input_html => { :value => l(@profile.birthday) }
  = f.input :picture
  = f.button :submit
