%h2= t(:edit)

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :validate => true) do |f|

  #tabs
    %ul
      %li
        %a{ :href => '#tabs-1'}
          = t(resource_name.to_s.humanize)
      %li
        %a{ :href => '#tabs-2'}
          = t(:cancel_my_account)
          
    #tabs-1
      = f.input :email
      = f.input :password, :hint => t(:edit_account_password)
      = f.input :password_confirmation, :hint => '.'
      = f.input :current_password
      
    #tabs-2  
      %p= t(:unhappy)
      = link_to t(:cancel_my_account), registration_path(resource_name), :confirm => t(:are_you_sure), :method => :delete
  = f.button :submit

- navigation_add t(:edit_account), edit_user_registration_path
