%h2
  Edit 

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

  #tabs
    %ul
      %li
        %a{ :href => '#tabs-1'}
          = resource_name.to_s.humanize
      %li
        %a{ :href => '#tabs-2'}
          Cancel my account
          
    #tabs-1
      = f.input :email
      = f.input :password, :hint => 'leave blank if you dont want to change it'
      = f.input :password_confirmation, :hint => '-'
      = f.input :current_password, :hint => 'we need your current password to confirm your changes'
      
    #tabs-2  
      Unhappy?
      = link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete
      = link_to "Back", :back
  = f.button :submit
