%h2 Sign up 

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f|

  #tabs
    %ul
      %li
        %a{ :href => '#tabs-1'}
          /- if session[:omniauth]
          /  New Account with Twitter
          /- else
          New Account
          
          
    #tabs-1
      #actions
        = render :partial => "devise/shared/links"
        
      = f.input :email
      /- if !session[:omniauth]
      = f.input :password
      = f.input :password_confirmation
      
  = f.submit 'Sign up'

- navigation_add 'New account', new_user_registration_path



