!!!
%html

  %head
    %title
      = yield(:title) || "Untitled"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = javascript_include_tag :defaults, 'jquery.qtip.min', 'rails.validations'
    
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    = stylesheet_link_tag 'smoothness/jquery-ui-1.8.13.custom.css'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    
    = stylesheet_link_tag 'jquery.qtip.min.css'

    = csrf_meta_tag
    = yield(:head)

  %body
    .wrapper
    
      #layout
        #top
          #container
            #left
              #user
                = render 'layouts/user'
            #right
        #toolbar
          #container
            #left
              #menu
                = render 'layouts/top_menu'
            #right
              #search
                = render 'layouts/search'
        #header
          #container
            #left
              #logo
                %h1= Settings.app_title
            #right
        
        #breadcrumbs
          #container
            = render_navigation
            
        #main
          #container
          
            #flash
              - flash.each do |name, msg|
                = content_tag :div, msg, :id => "flash_#{name}"

            #content
              - if show_title?
                %h1= yield(:title)
              
              = yield
      
        #layout_footer
      
      #footer
        #container
          #left
            %h1=t(:left)
            #menu
              = render 'layouts/top_menu'
          #middle
            %h1=t(:middle)
            #menu
              = render 'layouts/top_menu'
          #right
            %h1=t(:right)
            #menu
              = render 'layouts/top_menu'

